@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Vestardia Regular";
  src: url("/fonts/Vestardia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.vestardia {
  font-family: "Vestardia Regular", serif;
}

.averia-serif {
  font-family: "Averia Serif Libre", serif;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Averia Serif Libre", "Vestardia Regular", serif;
}
